#quest-list {
    background-image: url('../assets/map.jpg');
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-size: 100% 100%;
    justify-content: space-around;
}
a {
    font-weight: 800;
    color: black;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.634);
}

header {
    height: 100px;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    justify-content: center;
    border: 2px solid black;
}
.profile-children {
    margin: 5px;
    text-align: center;
}