img {
    height: 40%;
}
#quest-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

#choices {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    justify-content: center;
    border: 2px solid black;
}
.profile-children {
    margin: 5px;
    text-align: center;
}