img {
    height: 40%;
}
#quest-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

#choices {
    display: flex;
    flex-direction: column;
}